@page "/"
@using global::Azure.Storage.Blobs
@using global::Azure.Storage.Blobs.Models
@using CZ.Azure.FileExchange.Components
@inject HttpClient http

<PageTitle>Upload - Azure File Exchange</PageTitle>

<section>
    <p>
        Upload your files by dropping them below or select them by clicking in the box below.
    </p>
</section>

@if (SasUrl != null)
{
    <section>
        <p>The code to download your files: <strong>@SasUrl.AbsolutePath.Replace("/", "")</strong></p>
    </section>
}

<section>
    <form>
        <label for="upload">
            <span>Drag your files here or click in this area.</span>
        </label>
        <InputFile id="upload" aria-label="Select files to Upload" OnChange="@LoadFiles" multiple />
        <button disabled="@(!(files.Count() > 0))" @onclick="StartUpload">Start upload</button>
    </form>
</section>

<section>
    @foreach (var file in files)
    {
        <FileProgress Name="@file.Name" ProcessedSize="@file.ProcessedSize" Size="@file.BrowserFile.Size"></FileProgress>
    }
</section>


